DxLib/
Pacmanframe/
*.txt
pacman/x64/
Solution/Debug/
*.db
Solution/Common/Debug/
Solution/Editor/Debug/
Solution/Pacman/Debug/
*.suo
Solution/Common/x64/
Solution/Editor/x64/
Solution/Pacman/x64/
Solution/x64/
*.opendb
